
.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(235, 234, 234);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.322);

    .logo {
        color: black;
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;


        .icon {
            font-size: 25px;
            color: rgb(5 121 142);
            transform: translateY(5px);
        }
    }


    @media screen and (max-width:768px) {

    .navBar {
            position: absolute;
            background: rgb(235, 234, 234);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -600rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2,15,29,0.90);
            transition: all ease-in-out .3s;

            .navLists {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;

                .navItem {
                    padding: 1rem 0;
    
                    .navLink {
                        color: rgb(48, 48, 48);
                        font-size: .9rem;
                        font-weight: 600;
                        &:hover {
                            color: rgb(199,100%,33%);
                        }
                    }
                }
                .btn {
                    margin-top: 1rem;

                    a {
                        font-weight: 600;
                    }
                }
            }

            .closeNavBar {
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: rgb(5 121 142);
                &:hover {
                    color:rgb(1, 153, 199) ;
                }
            }
    }

    .activeNavBar {
        top: 7rem;
    }
  }
  
  .toggleNavBar {
    .icon {
        font-size: 25px;
        color: rgb(69, 69, 241);
    }
    &:hover .icon {
        color: rgb(22, 163, 182);
}
    }
}


